<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Runeterra Rainbow rhymes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link href="css/media-queries.css" rel="stylesheet" type="text/css"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  </head>
  <body>
    <section id="header">
      <div class="container">
          <div id="title-page">
            <div class="container">
                <h1>Runeterra Rainbow Rapper</h1>
            </div> 
          </div> 
        <div id="navbar">
          <div class="container">
            <ul id="menu">
            <li><a href="#colorpicker" class="nav-button">Color Deckmaker</a></li>
            <li><a href="#rhymes" class="nav-button">Rhymes</a></li>
            <li><a href="#howto" class="nav-button">How To</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="colorpicker">
      <div id='hexcolor-picker'>
        <div class="container">
          <div>
            Select your favorite hexcolor:<label><img src="assets/color-wheel.png" id="color-wheel"><input type="color" v-model="hexcolor"></img> </label>
          </div>
          <div class="preset-container">
            Or select a preset color:
            <div>
                <button v-for="(color, index) in colorList" v-if="index > 11" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
            <div>
                <button v-for="(color, index) in colorList" v-if="index > 7 && 12 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
            <div>
              <button v-for="(color, index) in colorList" v-if="index > 3 && 8 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex, color : color.hex}"></button>
            </div> 
            <div>
                <button v-for="(color, index) in colorList" v-if="4 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
          </div>
          <div>
            Or click <button @click="setRandHexColor()">here</button> to pick a random hexcolor
          </div>
          <div>
            or input hex here: <input type="text" v-model="hexcolor" id="colorInput">
          </div>
          <div>
            <button :style="{'background-color': hexColor, color: hexColor}" onclick="buildDeck()">Make Deck</button>
            <p></p>
          </div>
        </div>
      </div>
      <div id="deckcolor-analyzer">
        <input type="text" v-model="deckCodeInput" placeholder="deck code here">
      </div>
    </section>
    <section id="text">
      <div id="deck-text">
        <button>get text</button>
      </div>
    </section>
    <script src="js/main.js"></script>
    <script src="Deck Builder/app.js"></script>
    <script src="js/rap.js"></script>
</body>
</html>
