<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Runeterra Rainbow rhymes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <header>
      <h1>Runeterra Rainbow Rapper</h1>
    </header>
    <div id='hexcolor-picker'>
      <div>
          <div>
            Select your favorite hexcolor:<label><img src="assets/color-wheel.png" id="color-wheel"><input type="color" v-model="hexcolor"></img> </label>
          </div>
          <div class="preset-container">
            Or select a preset color:
            <div>
                <button v-for="(color, index) in colorList" v-if="index > 11" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
            <div>
                <button v-for="(color, index) in colorList" v-if="index > 7 && 12 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
            <div>
              <button v-for="(color, index) in colorList" v-if="index > 3 && 8 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex, color : color.hex}"></button>
            </div> 
            <div>
                <button v-for="(color, index) in colorList" v-if="4 > index" @click = "setHexColor(index)" class="preset-button" :style="{ backgroundColor : color.hex}"></button>
            </div> 
          </div>
          
          <div>
            Or click <button @click="setRandHexColor()">here</button> to pick a random hexcolor
          </div>
          <div>
            or input hex here: <input type="text" v-model="hexcolor">
          </div>
          <div>
            hexcolor Selected: {{hexcolor}}
          </div>
      </div>
      <div>

      </div>
    </div>
    <script src="main.js"></script>
</body>

</html>
